.lyrics {
  width: 280px;
  margin: auto;
  padding-top: 25px;
  /* --margin-bottom: 4px; */
  /* --font-size: 0.8rem; */
  --color: #eeeeee;
}

.lyrics-track-name {
  font-size: 1.1rem;
  font-weight: 300;
  color: #ff6c00;
  margin-bottom: 4px;
}

.lyrics-artist-album,
.lyrics-release-date {
  font-size: 0.8rem;
  color: #eeeeee;
  margin-bottom: 4px;
}

.lyrics-body {
  height: 320px;
  font-size: 0.8rem;
  color: #eeeeee;
  overflow-y: auto;
  margin: 20px 0;
  border-top: 1px solid rgba(158, 53, 90, 0.8);
  border-bottom: 1px solid rgba(158, 53, 90, 0.8);
}

.lyrics-spotify-link {
  text-align: center;
}

.lyrics-spotify-link > a {
  text-decoration: underline;
  color: #a0204c;
}

.save-btn {
  padding: 0.7rem 1rem;
  color: #ff6c00;
  border: 1px solid #ff6c00;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  left: 100%;
  transform: translateX(-100%);
}

.save-btn:hover,
.track-saved {
  background-color: #ff6c00;
  color: #fff;
}
