.header {
  position: relative;
  padding-top: 50px;
  opacity: 1;
  transition: all 300ms;
}

.header-text {
  color: #ff6c00;
  font-size: 21px;
  font-weight: 300;
}

.fade-entering {
  opacity: 1;
  top: 0;
}

.fade-entered {
  opacity: 0;
  top: -90px;
}

.fade-exiting {
  opacity: 0;
  top: -90px;
}

.fade-exited {
  opacity: 1;
  top: 0;
}
