#wrap {
  min-height: 100vh;
}

#root {
  width: 350px;
  height: 680px;
  margin: auto;
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  /* --app-background-color: rgb(26, 12, 43); Not available in IE */
}

.app {
  width: inherit;
  height: 100%;
  background-color: rgb(26, 12, 43);
  background-image: url("./Images/headphones-waves.png");
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 80px;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  display: block;
}

.app-main-content {
  width: inherit;
  background-color: transparent;
  margin-top: 60px;
}
